<%= include_ckeditor_tag %>
<% @title = "feature.announcements.header.edit_announcement".translate %>
<% @back_link = {:label => "feature.announcements.label.announcement".translate, :link => announcement_path(@announcement)} %>
<%- example_email_list = "feature.announcements.content.example_mails".translate -%>
<%= response_flash "test_send_success" -%>

<%= ibox nil do %>
  <%= simple_form_for @announcement, :html => {:id => 'edit_announcement', :class => 'form-horizontal clearfix', :multipart => true } do |f| %>

  <%= control_group do %>
      <%= content_tag(:div, Announcement.human_attribute_name(:recipient_role_names) + '*', :class => "false-label control-label col-sm-3") %>
      <%= controls(:id => 'announcement_role_list', class: "col-sm-9") do %>
        <%= choices_wrapper("display_string.Roles".translate) do %>
          <% @current_program.roles_without_admin_role.each do |role| %>
            <label class="checkbox inline">
              <%= check_box_tag 'announcement[recipient_role_names][]', role.name, @announcement.recipient_role_names.include?(role.name), :id => "announcement_recipient_role_names_#{role.name}", :disabled => @announcement.published? %>
              <%= role.customized_term.term %>
            </label>
          <% end %>
        <% end %>
      <% end %>
    <% end %>


    <%= f.input :title, :as => :string, :required => true, :wrapper => :horizontal_input, :input_html => {:class => 'form-control'} %>
    <%= f.input :body, :as => :text, :wrapper => :horizontal_input, :label => "feature.announcements.label.message".translate, :input_html => {:id => 'announcement_message_body'} %>


      <% if @announcement.attachment? %>
        <%= control_group do %>
          <%= f.label "", label: "feature.announcements.label.attachment".translate, :class => "col-sm-3 control-label" %>
          <%= controls(class: "col-sm-9") do %>
            <label class="checkbox">
              <%= check_box_tag "remove_attachment", nil %>
              <%= "display_string.Remove".translate %> <i>"<%= @announcement.attachment_file_name %>"</i>
            </label>
          <% end %>
        <% end %>
      <% else %>
        <%= f.input :attachment, :as => :file, wrapper: :horizontal_input, :input_html => { :id => "post_attachment"} %>
      <% end %>
      <%= f.input :expiration_date, as: :string, wrapper: :datepicker_input, input_html: { id: "announcements_expiry", value: (@announcement.expiration_date.blank? ? "" : DateTime.localize(@announcement.expiration_date, format: :short)), placeholder: "feature.announcements.content.select_date".translate, class: "form-control", data: date_picker_options } %>

      <%= control_group do %>
        <%= render :partial => "announcements/send_notification_options", :locals => {:f => f, :example_email_list => example_email_list, mailer_klass: AnnouncementUpdateNotification} -%>
      <% end %>

    <%= f.input :status, :as => :hidden, :input_html => {:id => 'announcement_status'} %>

    <%= render :partial => "announcements/actions", :locals => {:f => f} %>
  <% end %>
  <%= render :partial => "announcements/test_email_popup", :locals => {:announcement => @announcement, :example_email_list => example_email_list}-%>
  <%= javascript_tag do %>
    RequiredFields.fieldIds.push('announcement_title');
    RequiredFields.fieldIds.push('announcement_role_list');
    RequiredFields.fieldIds.push('announcement_email_notification');
  <% end %>
<% end %>
