<div style="color: #1ab394; font-weight: 600; margin-top: 10px;"><%= "feature.email.tags.campaign_tags.recommended_mentors.heading".translate if selected_mentors.any? %> </div>
<table cellspacing='0' cellpadding='0' border='0' style='table-layout: fixed; text-align: left; width: 100% !important;' width='100%'>
  <tbody>
    <% if selected_mentors.any? %>
      <tr>
        <td width='100%' style='width: 100% !important; padding: 0 10px 10px 10px;'>
          <table cellspacing='0' cellpadding='0' border='0' style='table-layout: fixed; text-align: left; width: 100% !important;' width='100%'>
            <tbody>
              <tr>
                <td bgcolor='#FFFFFF' width='100%' style='padding: 0 10px 10px 10px; width: 100% !important;'>
                  <table cellspacing='0' cellpadding='0' border='0' style='table-layout: fixed; text-align: left; width: 100% !important;' width='100%'>
                    <tbody>
                      <% selected_mentors.each_with_index do |member_hash, index| %>
                        <% member = member_hash[:member] %>
                        <% user = member.user_in_program(program) %>
                        <% url = member_url(member, url_options) %>
                        <tr>
                          <td valign="top" width='50' style='width: 50px !important; vertical-align: top; padding-top: 10px;<%= 'padding-bottom: 10px;' if member_hash != selected_mentors.last %>'>
                            <%= user_picture_in_email(user, {item_link: url, no_name: true, size: :medium, use_default_picture_if_absent: true}, style: "border: none; width: 40px !important; height: 40px !important; font-size: 18px !important; line-height: 40px !important;") %>
                          </td>
                          <td valign="top" style='padding-top: 10px;<%= ' padding-bottom: 10px;' if member_hash != selected_mentors.last %>'>
                            <table cellspacing='0' cellpadding='0' border='0' style='table-layout: fixed; text-align: left; width: 100% !important;' width='100%'>
                              <tbody>
                                <tr style="overflow: auto;">
                                  <td valign="top" width='100%' style='font-weight: bold; text-align: left; width: 100% !important; vertical-align: top; color: #628F98 !important; font-size: 14px !important; line-height: 22px;'>
                                    <%= link_to user.name(name_only: true), url %>
                                    <% if member_hash[:is_favorite] %>
                                      <img src='<%= PublicIcons::FAVORITE_STAR %>' width='14' height='14' alt='<%= "feature.favorite_preference.content.favorite_user".translate %>'/>
                                    <% end %>
                                  </td>
                                  <td valign="top" width='100%' style='text-align: right; width: 100% !important; vertical-align: top; color: #628F98 !important; font-size: 14px !important; line-height: 18px;'>
                                    <%= link_to "common_text.Connect".translate, member_url(member, url_options.merge({open_connect_popup: MentorRecommendationsService.get_class_for_recommended_for(member_hash[:recommended_for])})), style: "font-size: 14px; font-weight: normal; color: #ffffff; border-radius: 3px; display: inline-block; background: #1eaa79; border: 5px solid #1eaa79; text-decoration: none; padding: 0px 5px 0px;" %>
                                  </td>
                                </tr>
                                <tr>
                                  <% if member_hash[:max_score].present? %>
                                    <td valign="top" width='100%' style='color: #1ab394; width: 100% !important; vertical-align: top; font-size: 14px !important; line-height: 17px;'>
                                      <% score_label = "#{match_score_label(member_hash[:max_score])}" %>
                                      <%= "feature.meetings.content.match_score_html".translate(match_score: score_label) if program.allow_user_to_see_match_score?(mentee) %>
                                    </td>
                                  <% end %>
                                </tr>
                                <tr>
                                  <td valign="top" width='100%' style='width: 100% !important; vertical-align: top; font-size: 11px !important; line-height: 17px; padding: 2px 0 0;'>
                                    <% hsh = user.digest_v2_work_or_education %>
                                    <% if hsh[:key] %>
                                      <%= "email_translations.digest_v2.content.#{hsh[:key]}".translate(hsh) %>
                                    <% end %>
                                  </td>
                                </tr>
                                <tr>
                                  <td valign="top" width='100%' style='width: 100% !important; vertical-align: top; color: #6E6C70; font-size: 11px !important; line-height: 17px;'>
                                    <%= member.location_answer.location.full_address if member.location_answer.present? %>
                                  </td>
                                </tr>
                                <tr>
                                  <% student_match_info = match_info[index] || [] %>
                                  <% if student_match_info.present? %>
                                    <td valign="top" width="100%" style="width: 100% !important; vertical-align: top; font-size: 14px; line-height: 25px; color: #333333; padding: 5px 0px 0px;">
                                      <div style="font-size: 85%; font-style: italic; color: #1c84c6;"><%= 'feature.match_config.content.your_compatibility'.translate %> </div>
                                    </td>
                                  <% end %>
                                </tr>
                                <tr>
                                  <td>
                                    <table cellspacing="0" cellpadding="0" border="0">
                                      <tbody>
                                        <tr>
                                          <% student_match_info.each do |matching_tag|%>
                                            <td style="line-height: 5px;padding-bottom:7px;">
                                              <div style="<%= 'margin-left: 5px;' unless matching_tag == student_match_info.first %> text-decoration: none; font-size: 10px; color: #1c84c6; border-radius: 6px; display: inline-block; background: #ffffff; border: 1px solid; border-color: #1c84c6; padding: 0px 6px; font-style: bold; line-height: 20px; white-space:nowrap;"><%= matching_tag %></div>
                                            </td>
                                          <% end %>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <% if member_hash != selected_mentors.last %>
                          <tr>
                            <td colspan="2" width='100%' height='1' bgcolor='#D2D6D7' style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                          </tr>
                        <% end %>
                      <% end %>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr> <td colspan="2" width="100%" height="1" bgcolor="#D2D6D7" style="font-size: 1px; line-height: 1px; color: #333333; padding: 0;">&nbsp;</td></tr>
    <% end %>
    <% if mentee_can_view_mentors %>
      <tr>
        <% if show_view_favorites_button %>
          <td>
            <table cellspacing='0' cellpadding='0' border='0' width='100%' class="responsive-table">
              <tbody>
                <tr>
                  <td>
                    <%= call_to_action('email_translations.mentor_request_expired_to_sender.tags.view_mentors_button.view_all_mentors_v2'.translate(Mentors: program.find_role(RoleConstants::MENTOR_NAME).customized_term.pluralized_term), users_url(url_options), "button", button_align: "center") %>
                  </td>
                  <td>
                    <%= call_to_action('feature.favorite_preference.content.view_favorites'.translate, favorite_preferences_url(url_options), "button", button_align: "center") %>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        <% else %>
          <td align="center" style="font-size: 14px; line-height: 25px; color: #333333; padding: 20px 0 0;">
            <%= link_to('email_translations.mentor_request_expired_to_sender.tags.view_mentors_button.view_all_mentors_v2'.translate(Mentors: program.find_role(RoleConstants::MENTOR_NAME).customized_term.pluralized_term).html_safe, users_url(url_options), style:"text-decoration: none; font-size: 16px; font-weight: normal; color: #ffffff; border-radius: 3px; display: inline-block; background: #1eaa79; border-color: #1eaa79; border-style: solid; border-width: 5px 5px; padding: 0px 5px;") %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>