<% modal_options = {
  modal_id: "cjs-forgot-password-modal",
  modal_dialog_class: "cui-login-modal",
  modal_body_class: "text-center"
} %>

<% modal_container "feature_password.title.forgot".translate, modal_options do %>
  <%= render partial: "passwords/form", locals: { password: Password.new } %>
  <div class="m-t">
    <%= link_to "app_layout.label.back_to_backlink_html".translate(back_link: "display_string.Login".translate), "javascript:void(0)", class: "cjs-back-to-login-link" %>
  </div>
<% end %>

<%= javascript_tag do %>
  jQuery(document).ready(function() {
    AuthConfig.handleForgotPasswordLink("<%= login_modal_id %>");
    AuthConfig.handleBackToLoginLink("<%= login_modal_id %>");
  });
<% end %>