<% task_id = task.id || "new" %>
<% action_details = task.new_record? ? {path: group_mentoring_model_tasks_path(group, format: :js), method: :post} : {path: group_mentoring_model_task_path(group, task, format: :js), method: :patch} %>
<% action_item_options = new_task_action_item_options(group) %>

<%= simple_form_for task, url: action_details[:path], html: {method: action_details[:method], class: "clearfix no-margin form-horizontal cjs-mentoring-model-task-form cjs-mentoring-model-no-hover cjs-mentoring-model-cancel-form cjs-advanced-task-form cjs_ckeditor_dont_register_for_insecure_content cjs_ckeditor_dont_register_for_tags_warning", id: "cjs-mentoring-model-task-form-#{task_id}"}, remote: local_assigns[:as_ajax] do |f| %>
  <%= control_group do %>
    <label class="col-sm-3 control-label" for="mentoring_model_task_title"><%= "feature.mentoring_model.label.task_name".translate %></label>
    <div class="col-sm-9">
      <input class="string required form-control cjs-mentoring-connections-v2-title-textbox" name="mentoring_model_task[title]" id="mentoring_model_task_title" size="50" type="text" placeholder="<%= "feature.mentoring_model.js_translations.add_task".translate %>" value="<%= task.title %>" />
    </div>
  <% end %>

  <%= control_group do %>
    <label class="col-sm-3 control-label" for="cjs-mentoring-model-task-description-<%= task_id %>"><%= "feature.mentoring_model.js_translations.description_label".translate %></label>
    <div class="col-sm-9">
      <textarea class="cjs-task-description-input form-control" id="cjs-mentoring-model-task-description-<%= task_id %>" name="mentoring_model_task[description]"><%= object_description_content(task) %></textarea>
    </div>
  <% end %>
  <%= render partial: "mentoring_model/tasks/assignee_container", locals: {task: task, group: group} %>

  <%= control_group do %>
    <div class="col-sm-9 col-sm-offset-3 cjs-required-container cjs-required-box pointer">
      <label class="checkbox-inline">
        <% default_required_checkbox_value = task.new_record? ? true : (task.required? || @goal_specific_task.present?) %> 
        <input value="<%= default_required_checkbox_value %>" class="cjs-mentoring-model-task-required-checkbox no-margin" id="mentoring_model_task_required" type="checkbox" <%= @goal_specific_task.present? ? 'disabled' : '' %> >
        <input value="<%= default_required_checkbox_value %>" class="cjs-mentoring-model-task-required-input" name="mentoring_model_task[required]" type="hidden">
        <span class="pointer"><%= "feature.mentoring_model.js_translations.required_task".translate %> </span>
      </label>
    </div>
  <% end %>
  <%= control_group(:class => "cjs-task-required-checkbox-true") do %>
    <% due_date_id = "mentoring_model_task_due_date_#{SecureRandom.hex(3)}" %>
    <label class="col-sm-3 control-label" for="<%= due_date_id %>"><%= "display_string.Due_Date".translate %></label>
    <div class="col-sm-5">
      <div class="input-group">
        <div class = "input-group-addon gray-bg"><%= get_icon_content("fa fa-calendar") %></div>
        <%= f.input_field :due_date, as: :string, value: get_date_for_required_task_else_default_date(task), id: due_date_id, class: "cjs_mentoring_model_task_due_date form-control", data: date_picker_options(min_date: Date.current) %>
      </div>
    </div>
  <% end %>

  <% if action_item_options.size > 1 || goals_to_associate.present? || @goal_specific_task %>
    <%= f.input :action_item_type, as: :hidden, input_html: {value: action_item_options[0][1]} unless action_item_options.size > 1 %>
    <% if goals_to_associate.present? || @goal_specific_task %>
      <% if goals_to_associate.present? %>
        <%= control_group(:class => "cjs-task-required-checkbox-true") do %>
          <label class="col-sm-3 control-label" for="mentoring_model_task_goal_id"><%= "feature.mentoring_model.js_translations.apply_to_goal_label".translate %></label>
          <div class="col-sm-5">
            <% options = content_tag(:option, "feature.mentoring_model.js_translations.select".translate, :value => "") %>
            <% options += options_for_select(goals_to_associate.collect{|g| [g.title, g.id]}, task.goal_id) %>
            <%= select_tag("mentoring_model_task[goal_id]", options, {:class => "form-control"}) %>
          </div>
        <% end %>
      <% else %>
        <%= f.input :goal_id, as: :hidden %>
        <%= hidden_field_tag "from_goals", true, label: false %>
      <% end %>
    <% end %>
  <% end %>

  <% if (@goal_specific_task || view_by_due_date?) && (manage_mm_milestones_at_end_user_level? || manage_mm_milestones_at_admin_level?(group)) %>
    <% milestones_to_associate = group.mentoring_model_milestones %>
    <% default_milestone = task.milestone || milestones_to_associate[0] %>
    <% if milestones_to_associate.size > 0 %>
      <%= control_group do %>
        <label class="col-sm-3 control-label" for="mentoring_model_task_milestone_id"><%= "feature.mentoring_model.js_translations.apply_to_milestone_label".translate %></label>
        <div class="col-sm-5">
          <%= select_tag("mentoring_model_task[milestone_id]", options_for_select(milestones_to_associate.collect{|m| [m.title, m.id]}, default_milestone.id), {:class => "form-control"}) %>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <%= f.input :milestone_id, as: :hidden %>
  <% end %>

  <%= f.input :status, as: :hidden %>
  <%= f.input :position, as: :hidden %>

  <div class="pull-right">
    <%= link_to "display_string.Cancel".translate, "javascript:void(0)", class: "cjs-mentoring-model-cancel-btn btn btn-white" %>
    <%= f.button :submit, "feature.mentoring_model.js_translations.save_task".translate, class: "cjs-mentoring-model-submit-btn" %>
  </div>
<% end %>

<%= javascript_tag %Q[TaskProgressiveForm.initialize("cjs-mentoring-model-task-form-#{task_id}", false);] %>
<%= javascript_tag %Q[initialize.setDatePicker();] %>