<% task_id = task.id %>
<% task_has_description = task.description.present? %>
<% goal = task.mentoring_model_goal %>
<% due_date_id = "mentoring_model_task_due_date_#{SecureRandom.hex(3)}" %>
<%= simple_form_for task, url: update_assignee_or_due_date_group_mentoring_model_task_path(@task.group_id, @task, {format: :js}.merge(additional_mentoring_model_attrs(params))), html: {class: "no-margin form-horizontal cjs-mentoring-model-task-form clearfix cjs-mentoring-model-no-hover cjs-mentoring-model-cancel-form cjs-advanced-task-form", id: "cjs-mentoring-model-task-form-#{task_id}"}, remote: local_assigns[:as_ajax] do |f| %>
  <div class="m-b-sm">
    <div class="font-600 p-b-xxs">
      <%= content_tag(:span, "feature.mentoring_model.label.title".translate, :class => "p-r-xxs") %>
      <%= content_tag(:span, truncate(task.title, length: MentoringModel::Task::TITLE_TRUNCATE_LENGTH), title: task.title) %>
    </div>
    <%= render partial: "mentoring_model/tasks/details", locals: {task_has_description: task_has_description, goal: goal, task: task} %>
  </div>
  <div class="">
    <% if local_assigns[:alter_due_date] && task.required? %>

    <%= control_group do %>
      <div class="col-sm-9 col-sm-offset-3 cjs-required-container cjs-required-box pointer">
        <label>
          <% default_required_checkbox_value = task.required? || @goal_specific_task.present? %>
          <input value="<%= default_required_checkbox_value %>" class="cjs-mentoring-model-task-required-input" name="mentoring_model_task[required]" type="hidden">
          <input value="<%= default_required_checkbox_value %>" class="cjs-mentoring-model-task-required-checkbox cjs-mentoring-model-task-required-input" id="mentoring_model_task_required"  type="checkbox" <%= default_required_checkbox_value ? 'disabled' : '' %> >
          <span class="pointer"><%= "feature.mentoring_model.js_translations.required_task".translate %> </span>
        </label>
      </div>
    <% end %>

    <%= control_group(:class => "cjs-task-required-checkbox-true") do %>
      <label class="col-sm-3 control-label" for="<%= due_date_id %>"><%= "display_string.Due_Date".translate %></label>
      <div class="col-sm-5">
        <%= construct_input_group( { icon_class: "fa fa-calendar", type: "addon" }, {}) do %>
          <%= f.input_field :due_date, as: :string, value: get_date_for_required_task_else_default_date(task), id: due_date_id, class: "cjs_mentoring_model_task_due_date form-control", data: date_picker_options(min_date: Date.current) %>
        <% end %>
      </div>
    <% end %>
    <% elsif task.due_date.present? %>
      <%= control_group do %>
        <div class="col-sm-9 col-sm-offset-3 cjs-required-container cjs-required-box pointer">
          <label>
            <% default_required_checkbox_value = task.required? || @goal_specific_task.present? %>
            <input value="<%= default_required_checkbox_value %>" class="cjs-mentoring-model-task-required-input" name="mentoring_model_task[required]" type="hidden">
            <input value="<%= default_required_checkbox_value %>" class="cjs-mentoring-model-task-required-checkbox cjs-mentoring-model-task-required-input" id="mentoring_model_task_required"  type="checkbox" <%= default_required_checkbox_value ? 'disabled' : '' %> >
            <span class="pointer"><%= "feature.mentoring_model.js_translations.required_task".translate %> </span>
          </label>
        </div>
      <% end %>

      <%= control_group(:class => "cjs-task-required-checkbox-true") do %>
        <label class="col-sm-3 control-label" for="<%= due_date_id %>"><%= "display_string.Due_Date".translate %></label>
        <div class="col-sm-5">
          <%= construct_input_group( { icon_class: "fa fa-calendar", type: "addon" }, {}) do %>
            <%= f.input_field :due_date, as: :string, value: get_date_for_required_task_else_default_date(task), id: due_date_id, class: "cjs_mentoring_model_task_due_date form-control", data: date_picker_options(min_date: Date.current, disable_date_picker: true) %>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <span class="cjs-assignee-container pointer">
      <%= render partial: "mentoring_model/tasks/assignee_container_for_template", locals: {task: task, group: group} if task.unassigned_from_template? %>
    </span>
  
  </div>
  

  <% if @goal_specific_task %>
    <%= f.input :goal_id, as: :hidden %>
    <%= hidden_field_tag "from_goals", true, label: false %>
  <% end %>

  <%= f.input :milestone_id, as: :hidden %>
  <%= f.input :status, as: :hidden %>
  <%= f.input :position, as: :hidden %>
  <div class="pull-right">
    <%= link_to "display_string.Cancel".translate, "javascript:void(0)", class: "cjs-mentoring-model-cancel-btn btn btn-white" %>
    <%= f.button :submit, "feature.mentoring_model.js_translations.save_task".translate, class: "cjs-mentoring-model-submit-btn" %>
  </div>
<% end %>

<%= javascript_tag %Q[TaskProgressiveForm.initialize("cjs-mentoring-model-task-form-#{task_id}", true);] %>
<%= javascript_tag %Q[initialize.setDatePicker();] %>