<div class="file-name-preview word_break hide <%= classList %>" id='<%= fileNamePreviewElementId %>' data-hide-pane='<%= fileNamePreviewElementId %>' data-show-pane='<%= dropzoneElementId %>' >
  <span class="file-name"></span>
  <span class="remove-file-name pointer" data-hide-pane='<%= fileNamePreviewElementId %>' data-show-pane='<%= dropzoneElementId %>'>
    <icon class="fa fa-times-circle text-danger">
  </span>
</div>
<div class="dropzone dropzone-wrapper needsclick" id='<%= dropzoneElementId %>' data-file-name-field-element-id='<%= fileNameFieldElementId %>' data-file-code-field-element-id='<%= fileCodeFieldElementId %>'>
</div>