<div class="cui-page-break-avoid">
  <div class="font-600 m-b-xxs m-t-sm"><%= survey_oeq.question.title %></div>
  <div><%= "feature.three_sixty.report.Self".translate %></div>
  <% answer = text_answers_for_self.find{ |answer| answer.three_sixty_survey_question_id == survey_oeq.id } %>
  <% if answer.present? %>
    <%= answer.answer_text %>
  <% else %>
    <div class="text-muted"><%= "feature.three_sixty.report.hyphen_not_answered".translate %></div>
  <% end %>
  <% if @current_organization.show_text_type_answers_per_reviewer_category? %>
    <% survey_reviewer_groups.each do |srg|%>
      <div><%= srg.name.pluralize %></div>
      <% answers = three_sixty_text_answers_for(srg, survey_oeq, reviewers) %>
      <% if answers.any? %>
        <% answers.each do |answer| %>
          <div>- <%= italic_quot answer.answer_text %></div>
        <% end %>
      <% else %>
        <div class="text-muted"><%= "feature.three_sixty.report.hyphen_not_answered".translate %></div>
      <% end %>
    <% end %>
  <% else %>
    <div><%= "feature.three_sixty.report.others".translate %></div>
    <% answers = [] %>
    <% survey_reviewer_groups.each do |srg|%>
      <% answers += three_sixty_text_answers_for(srg, survey_oeq, reviewers) %>
    <% end %>
    <% if answers.any? %>
      <% answers.each do |answer| %>
        <div>- <%= italic_quot answer.answer_text %></div>
      <% end %>
    <% else %>
      <div class="text-muted"><%= "feature.three_sixty.report.hyphen_not_answered".translate %></div>
    <% end %>
  <% end %>
</div>