<%= form_for @profile_user, :remote => true, :url => update_settings_member_path(@profile_member), :html => {:class => 'form-horizontal', id: "general_settings_#{@profile_member.id}"} do |f| %>
  <%= render :partial => "members/edit/select_mentoring_mode", :locals => {:form => f, program: @current_program} if @profile_user.is_mentor? %>
  <%= render partial: "common/timezone_select", locals: { object: @profile_member, tz_identifier_element_id: "user_member_time_zone", tz_identifier_element_name: "member[time_zone]"} %>
  <% action_set do %>
    <div class="pull-right">
      <%= link_to('display_string.Cancel'.translate, "javascript:void(0)", :class => 'cjs-cancel-ibox btn btn-white') %>
      <%= f.submit "display_string.Save".translate, :id => "submit_general_settings", :class => "btn btn-primary", data: {disable_with: "display_string.Please_Wait".translate} %>
    </div>
  <% end %>
<%end %>

     






   
