<% task_template_title_selector = "cjs-task-template-title-#{task_template.id}" %>
<% task_template_has_description = task_template.description.present? %>
<% task_template_has_goal_associated = !task_template.mentoring_model.manual_progress_goals? && task_template.goal_template.present? %>
<% task_template_has_hyperlink = task_template_has_description || task_template_has_goal_associated %>

<div class="cjs-task-template-header" id="cjs-hover-well-<%= task_template.id %>">
  <% unless @read_only %>
    <% dropdown_options = {
      btn_class: "pull-right m-l-xs",
      dropdown_title: "",
      is_not_primary: true,
      btn_group_btn_class: "btn-white btn-xs"
    } %>
    <% delete_message = ["common_text.confirmation.sure_to_delete".translate, (@should_sync_warn ? "feature.multiple_templates.js_translations.syncToGroupOnDeleteConfirmation".translate(mentoring_connections: _mentoring_connections, mentoring_connection: _mentoring_connection, count: (@ongoing_connections_count || 0)) : "")].join(' ') %>
    <div id="cjs-hover-actions-<%= task_template.id %>">
      <% dropdown_actions = [ {
          label: append_text_to_icon("fa fa-pencil-square-o", "display_string.Edit".translate),
          url: edit_mentoring_model_task_template_path(@mentoring_model, task_template),
          class: "cjs-edit-task-template-link"
        },
        {
          label: append_text_to_icon("fa fa-trash", "display_string.Delete".translate),
          url: mentoring_model_task_template_path(@mentoring_model, task_template, format: :js),
          data: {remote: true, method: :delete, confirm: delete_message}
        }]
       %>
      <%= dropdown_buttons_or_button(dropdown_actions, dropdown_options) %>
    </div>
  <% end %>
  <div class="pull-right">
    <% if task_template.required? %>
      <% if task_template.specific_date.blank? %>
        <% task_duration_format, task_duration = display_days_or_weeks_format(task_template.duration) %>
        <% previous_title_text = "feature.mentoring_model.description.#{task_duration_format}".translate(count: task_duration, task_name: task_template.associated_task.try(:title) || "feature.mentoring_model.description.start_of_connection".translate(connection: _mentoring_connection)) %>
        <%= content_tag(:i, content_tag(:span, truncate(previous_title_text, length: MentoringModel::TaskTemplate::PREVIOUS_TITLE_TRUNCATE_LENGTH), title: previous_title_text)) %>
      <% elsif task_template.specific_date.present? %>
        <%= content_tag(:span, DateTime.localize(task_template.specific_date, format: :abbr_short), class: "#{"text-danger" if task_template.specific_date < Date.today.at_beginning_of_day}") %>
      <% end %>
    <% end %>
  </div>
  <%= render partial: "mentoring_model/task_templates/task_template_preblock", locals: {task_template: task_template, block_class: ""} %>
  <div class="cjs-task-template-title inline <%= task_template_title_selector %> <%= "pointer" if task_template_has_hyperlink %>">
    <%= "<a>".html_safe if task_template_has_hyperlink %>
    <% title_length = MentoringModel::TaskTemplate::TITLE_TRUNCATE_LENGTH - (task_template.is_meeting_action_item? ? ("feature.mentoring_model.description.schedule_a_meeting".translate.size + 5) : 0) - (task_template.is_create_goal_action_item? ? ("feature.mentoring_model.label.create_goal_plan".translate.size + 5) : 0) %>
    <%= content_tag(:span, truncate(task_template.title, length: title_length), title: task_template.title) %>
    <%= "</a>".html_safe if task_template_has_hyperlink %>
    <% if task_template.is_meeting_action_item? %>
      <%= vertical_separator %>
      <%= content_tag(:i, "feature.mentoring_model.description.schedule_a_meeting".translate) %>
    <% end %>
    <% if task_template.is_create_goal_action_item? %>
      <%= vertical_separator %>
      <%= content_tag(:i, "feature.mentoring_model.label.create_goal_plan".translate) %>
    <% end %>
    <% if task_template.is_engagement_survey_action_item? %>
      <%= vertical_separator %>
      <%= content_tag(:i, task_template.action_item.name) %>
      <% if task_template.specific_date.present? || task_template.duration > 0 %>
        <% reminders_count = task_template.action_item.reminders_count %>
        <% reminder_tooltip = "feature.mentoring_model.label.due_date_reminder_label".translate(count: reminders_count, tooltip: embed_icon(TOOLTIP_IMAGE_CLASS, '', :id => "tooltip_due_date_reminder_label_#{task_template.id}")) %>
        <%= link_to reminder_tooltip.html_safe, reminders_survey_path(task_template.action_item.id), :target => "_blank" %>
        <% tooltip_text = calculate_tooltip_text(task_template) %>
        <%= tooltip("tooltip_due_date_reminder_label_#{task_template.id}", tooltip_text) %>
      <% end %>
    <% end %>
  </div>
</div>

<% if task_template_has_hyperlink %>
  <div class="hide cjs-task-template-description">
    <% if task_template_has_description %>
      <div class="ckeditor_generated p-t-sm">
        <%= object_description_content(task_template) %>
      </div>
    <% end %>
    <% if task_template_has_goal_associated %>
      <%= display_goal_template_title(task_template.goal_template) %>
    <% end %>
  </div>
<% end %>
<div class="cjs-action-item-response-container hide"></div>
<%= javascript_tag do %>
  TaskTemplates.descriptionToggler("<%= task_template_title_selector %>");
<% end %>