<div class='cui-qtip-contentwrapper popup'>
  <div class="popup_header">
    <div class="close_image_link">
      <a href="#" onclick="<%= on_close %>">
        <img alt="<%= close_image_alt_text %>" src="<%= close_image %>"/>
      </a>
    </div>
    <h3><%= popup_title %></h3>
  </div>
  <div class="popup_content scroll-6 clearfix">
    <%= popup_content %>
  </div>
</div>