<div class="hide well white-bg m-t cjs_add_<%= role.name %> clearfix">
  <%= simple_form_for group, url: add_new_member_group_path(group), html: { id: nil }, remote: true do |f| %>
    <% role_custom_term = role.customized_term.term %>
    <% option_0 = "feature.group.action.add_member_option_0_v1".translate(role_name: role_custom_term).html_safe + content_tag(:span, get_icon_content("fa fa-info-circle"), id: "cui-add-member-#{role.id}-option-0", class: "pointer").html_safe %>
    <% option_0 << tooltip("cui-add-member-#{role.id}-option-0", "feature.group.label.add_option_0_help_text_v1".translate(role_name: role_custom_term.term_downcase, circle: _mentoring_connection)) %>
    <% option_1 = "feature.group.action.add_member_option_1_v1".translate(role_name: role_custom_term).html_safe + content_tag(:span, get_icon_content("fa fa-info-circle"), id: "cui-add-member-#{role.id}-option-1", class: "pointer").html_safe %>
    <% option_1 << tooltip("cui-add-member-#{role.id}-option-1", "feature.group.label.add_option_1_help_text_v1".translate(role_name: role_custom_term.term_downcase, circle: _mentoring_connection)) %>
    <label class="s2id_autogen_label hide"><%= "feature.group.label.search_role_name".translate(role_name: role_custom_term) %></label>
    <%= content_tag(:div, class: "col-xs-12 no-padding m-b-sm") do
      label_tag("add_member[#{role.name}]", role_custom_term , for: "add_member_#{role.name}", class: "sr-only") +
      text_field_tag_with_auto_complete("add_member", "", nil,
                      {class: "form-control", id: "add_member_#{role.name}", placeholder: "feature.preferred_mentoring.content.enter_mentor_name".translate(mentor: role_custom_term), autocomplete: "off"},
                      {url: auto_complete_for_name_users_path(format: :json, role: role.name, show_all_users: true, for_autocomplete: true), param_name: "search", highlight: true})
    end %>

    <% if drafted_or_pending_group %>
      <%= f.hidden_field "add_member_option", value: Group::AddOption::NO_TASK, id: nil %>
    <% else %>
      <%= get_add_tasks_radio_button(f, add_tasks: option_0, no_task: option_1, id_suffix: role.id) %>
    <% end %>

    <%= hidden_field_tag "role_id", role.id, id: nil %>
    <%= hidden_field_tag "group_id", group.id, id: nil %>
    <% current_program.roles.for_mentoring.each do |role| %>
      <%= hidden_field_tag "selected_user_ids[#{role.id}]", nil, id: nil, class: "selected_user_ids_#{role.id}" %>
    <% end %>

    <% action_set(:class => "pull-right") do %>
      <%= button_tag "display_string.Cancel".translate, :type => 'button', :onclick => %Q[jQuery(".cjs_add_#{role.name}").addClass("hide");jQuery(".cjs_add_member_#{role.name}").removeClass("hide");], :class => "btn btn-white cancel btn-xs" %>
      <% button_details = { class: "btn-xs cjs_add_member_submit" } %>
      <% button_details.merge!(onclick: %[jQuery(".cjs_add_member_#{role.name}").removeClass("hide");]) if @current_program.allow_one_to_many_mentoring? %>
      <%= f.button :submit, "display_string.Add".translate, button_details %>
    <% end %>
  <% end %>
</div>