<div id="chronus_terms">
  <div class="lead">
    <%= "terms.acceptable_use_policy.heading".translate %>
  </div>
  <div class="m-b-lg">
    <%= "terms.acceptable_use_policy.content.intro".translate %>
  </div>

  <div class="m-b-lg">
    <div class="m-b-sm">
      <span class="h5 m-r-xxs">
        <%= "terms.acceptable_use_policy.content.user_conduct.heading".translate %>
      </span>
      <span><%= "terms.acceptable_use_policy.content.user_conduct.content.intro".translate %></span>
    </div>
    <ul>
      <li class="m-b-sm"><%= "terms.acceptable_use_policy.content.user_conduct.content.point_1".translate %></li>
      <li class="m-b-sm"><%= "terms.acceptable_use_policy.content.user_conduct.content.point_2".translate %></li>
      <li class="m-b-sm"><%= "terms.acceptable_use_policy.content.user_conduct.content.point_3".translate %></li>
      <li class="m-b-sm"><%= "terms.acceptable_use_policy.content.user_conduct.content.point_4".translate %></li>
      <li class="m-b-sm"><%= "terms.acceptable_use_policy.content.user_conduct.content.point_5".translate %></li>
      <li class="m-b-sm"><%= "terms.acceptable_use_policy.content.user_conduct.content.point_6".translate %></li>
      <li class="m-b-sm"><%= "terms.acceptable_use_policy.content.user_conduct.content.point_7".translate %></li>
      <li class="m-b-sm"><%= "terms.acceptable_use_policy.content.user_conduct.content.point_8".translate %></li>
      <li class="m-b-sm"><%= "terms.acceptable_use_policy.content.user_conduct.content.point_9".translate %></li>
    </ul>
    <div class="m-b-sm"><%= "terms.acceptable_use_policy.content.user_conduct.content.para_1".translate %></div>
    <div class="m-b-sm"><%= "terms.acceptable_use_policy.content.user_conduct.content.para_2".translate %></div>
    <div class="m-b-sm"><%= "terms.acceptable_use_policy.content.user_conduct.content.para_3".translate %></div>
    <div class="m-b-sm"><%= "terms.acceptable_use_policy.content.user_conduct.content.para_4".translate %></div>
  </div>

  <div class="m-b-lg">
    <div class="m-b-sm">
      <span class="h5 m-r-xxs">
        <%= "terms.acceptable_use_policy.content.use_of_content.heading".translate %>
      </span>
      <span><%= "terms.acceptable_use_policy.content.use_of_content.content.intro".translate %></span>
    </div>
    <div class="m-b-sm"><%= "terms.acceptable_use_policy.content.use_of_content.content.para_1".translate %></div>
    <div class="m-b-sm"><%= "terms.acceptable_use_policy.content.use_of_content.content.para_2".translate %></div>
  </div>

  <span class="h5 m-r-xxs">
    <%= "terms.acceptable_use_policy.content.feedback.heading".translate %>
  </span>
  <span><%= "terms.acceptable_use_policy.content.feedback.content.intro".translate %></span>
</div>