<% m_r_count = meeting_request_ids.flatten.count %>
<% modal_v3_popup "feature.meeting_request.content.close_request_popup.title".translate(count: m_r_count) do %>
  <div class="m-b-sm"><%= "feature.meeting_request.content.close_request_popup.help_text_v1".translate(count: m_r_count) %></div>
  <%= simple_form_for @meeting_request, :url => update_bulk_actions_meeting_requests_path, :html => {:id => "close_meeting_requests", :class => "form-vertical", remote: true} do |f| %>
    <%= f.input :response_text, :as => :text, :label => "feature.meeting_request.content.closing_reason".translate, :input_html => {:rows => "5", :class => "form-control", :id => "bulk_actions_reason", :placeholder => "feature.meeting_request.content.close_request_popup.placeholder.reason_v1".translate(count: m_r_count)}, :label_html => {:class => " control-label "}, :input_wrapper_html => { :class => "" }, :wrapper_html => {:class => "col-xs-12 no-padding"}  %>
    <%= control_group(class: "col-xs-12 no-padding m-t-sm") do %>
      <%= content_tag(:div, 'feature.meeting_request.label.to'.translate, :class => "false-label control-label  " ) %>
      <%= controls(class: "m-t-xs") do %>
        <%= content_tag(:label, :class => "checkbox inline no-vertical-margins m-r-xs" ) do %>
          <%= (check_box_tag :sender) + content_tag(:span, 'feature.meeting_request.label.Sender'.translate) %>
        <% end %>
        <%= content_tag(:label, :class => "checkbox inline no-vertical-margins m-r-xs" ) do %>
          <%= (check_box_tag :recipient) + content_tag(:span, 'feature.meeting_request.label.Recipient'.translate) %>
        <% end %>
        <%= content_tag(:p, get_icon_content("fa fa-info-circle") + email_notification_consequences_for_multiple_mailers_html([MeetingRequestClosedForRecipient, MeetingRequestClosedForSender], selected_users: true), :class => "help-block small text-muted m-t-xs") %>
      <% end %>
    <% end %>
    <%= hidden_field_tag "bulk_actions[request_type]", AbstractRequest::Status::CLOSED %>
    <%= hidden_field_tag "bulk_actions[meeting_request_ids]", meeting_request_ids.join(IDS_SEPARATOR) %>
    <%= hidden_field_tag "is_manage_view", is_manage_view %>
    <% action_set(class: "pull-right") do %>
      <%= link_to "display_string.Cancel".translate, "javascript:void(0);", :class => "popup_closebox btn btn-white cancel", "data-dismiss" => "modal" %>
      <%= f.button :submit, "feature.meeting_request.content.close_request_popup.action.close_request".translate(count: m_r_count), :class => "cjs_close_meeting_request" %>
    <% end %>
  <% end %>
<% end %>
