<%= control_group do %>
  <div class="false-label control-label col-sm-2">
    <%= "feature.admin_view.label.Profile_Questions".translate %>
  </div>
  <%= generate_admin_view_profile_questions(admin_view, profile_questions, filter_params) %>

  <%= javascript_tag do %>
      AdminViewsNewView.showInputField("<%= ProfileQuestion::SELECT2_SEPARATOR %>", true);
      AdminViewsNewView.toggleAdditionalChoiceTextBox(jQuery("select.cjs_show_profile_input_field"), jQuery("select.cjs_show_profile_input_field").data("qci"), jQuery("select.cjs_show_profile_input_field").data("qct"), "<%= ProfileQuestion::SELECT2_SEPARATOR %>", true);
  <% end %>
<% end %>
