<% context = context_term(@admin_view) %>
<% total_entries_size_content = content_tag(:b, @objects.total_entries, class: "cjs_total_entries_size") %>

<% if @objects.total_entries > @objects.size %>
  <div id="cjs_select_all_option" class="hide bg-warning cui_disable_hover p-sm text-center">
    <div id="cjs_select_all_message">
      <%= "feature.admin_view.content.all_selected_on_the_page_html".translate(context: context, size: content_tag(:b, @objects.size, id: 'objects_size')) %>
      <u class="pointer" id="cjs_select_all_handler" data-url="<%=select_all_ids_admin_view_path(@admin_view)%>">
        <%= "feature.admin_view.content.select_all_in_this_view_html".translate(context: context, size: total_entries_size_content) %>
      </u>
      <%= get_icon_content("fa fa-spinner fa-spin hide") %>
    </div>
    <div id="cjs_clear_all_message" class="hide">
      <%= "feature.admin_view.content.all_selected_in_the_view_html".translate(context: context, size: total_entries_size_content) %>
      <u class="pointer" id="cjs_clear_all_handler">
        <%= "feature.admin_view.action.Clear_selection".translate %>
      </u>
    </div>
  </div>
<% end %>