<div class="p-md ibox-content clearfix <%= additional_classes %>">
  <div class="media-left">
    <i class="fa fa-3x fa-fw <%= icon_class %>"></i>
  </div>

  <div class="media-body">
    <h3 class="no-margins m-b-xs">
      <span class="h3 p-r-xxs"><%= serial_no %></span><%= tips_heading %>
    </h3>
    <div class=" text-muted m-t-sm"><%= tips_content %></div>
  </div>
</div>