<% source_info = params.to_unsafe_h.pick(:controller, :action, :id).merge(section: section) %>
<% modal_v3_popup "feature.match_report.label.select_two_user_segments".translate, modal_body_class: "cjs_mentor_distribution_popup " do %>
  <div id="bulk_match_settings_content">
    <%= form_tag update_section_settings_match_reports_path(section: section), remote: true, method: :patch do %>
      <div>
        <%= render partial: "match_reports/mentor_distribution/mentor_distribution_setting_admin_views", locals: {source_info: source_info} %>
      </div>
      <% action_set(class: "pull-right m-t-md") do %>
        <%= link_to "display_string.Cancel".translate, "javascript:void(0)", class: "btn btn-white", "data-dismiss" => "modal" %>
        <%= submit_tag("display_string.Save".translate, class: 'btn btn-primary', data: {disable_with: "display_string.Please_Wait".translate}) %>
      <% end %>
    <% end %>
  </div>
<% end %>
<% create_admin_view = render(partial: 'admin_views/create_admin_view_link', locals: { source_info: source_info } ) %>
<%= javascript_tag do %>
  jQuery(document).ready(function(){
    adminViewInitSelect2.initialize(<%= chr_json_escape get_view_options(@admin_view_role_hash, RoleConstants::STUDENT_NAME).to_json %>, "#mentor_distribution_mentee_view_id", "<%= j(create_admin_view) %>", true);
    adminViewInitSelect2.initialize(<%= chr_json_escape get_view_options(@admin_view_role_hash, RoleConstants::MENTOR_NAME).to_json %>, "#mentor_distribution_mentor_view_id", "<%= j(create_admin_view) %>", true);
    AdminViews.handleViewChange();
  });
<% end %>
