<% @title = "feature.portal.header.setup_new_portal".translate(Portal: _Program, Career_Development: _Career_Development) %>

<div id="new_program">
  <%= response_flash "new_program_flash" %>
  <%= simple_form_for @program, :url => career_dev_portals_path, :html => {:method => :post, :class => "form-horizontal", multipart: true} do |f| %>
    <%= render_message_warnings_popup(@message_warnings) %>

    <%= formatted_form_error f %>
    <% tab_captions = get_new_portal_wizard_view_headers %>
    <%= render :partial => 'career_dev/portals/new_step_1', :locals => {:f => f, :tab_captions => tab_captions} %>
    <% if @current_organization.standalone? %>
      <%= render :partial => 'career_dev/portals/new_step_3', :locals => {:f => f, :tab_captions => tab_captions} %>
    <% end %>
  <% end %>
</div>
