<div class="panel-body no-padding cjs-task-comments-container" id="mentoring_model_task_comment_<%= comment.id %>_container">
  <div class="list-group-item no-border p-l-0">
    <div class="clearfix">
      <div class="media no-margins p-l-0">
        <div class="media-left p-t-xxs">
           <%= member_picture_v3(comment.sender, {row_fluid: true, size: :small, no_name: true}, { class: "img-circle", :size => "35x35"}) %>
        </div>
        <div class="media-body">
          <div class="p-xs well <%= 'white-bg' unless current_user.member == comment.sender %> break-word no-margins ">
            <% if current_user.member == comment.sender && group.active? %>
              <div class="pull-right">
                <%= link_to (get_icon_content("fa fa-trash text-default no-margins") + set_screen_reader_only_content("display_string.Delete".translate)), mentoring_model_task_comment_path(comment, group_id: group.id, task_id: comment.mentoring_model_task.id, home_page_view: @home_page_view), data: {confirm: "common_text.confirmation.sure_to_delete".translate} , remote: true, method: :delete, class: "btn btn-white btn-sm delete-task" %>
              </div>
            <% end %>
            <div class="font-bold small m-b-xs">
              <% if current_user.member == comment.sender %>
                <%= "feature.messaging.content.Me".translate %>
              <% else %>
                <%= link_to_user(comment.sender, {content_method: [:name, name_only: true], no_hovercard: true}) %>
              <% end %>
            </div>
            <div>
              <%= chronus_auto_link(comment.content) %>
            </div>
            <% if comment.attachment? %>
              <%= content_tag(:div, link_to(append_text_to_icon("fa fa-paperclip text-default", truncate(comment.attachment_file_name, :length => GroupsHelper::TRUNCATE_ATTACHMENT_STRING_LENGTH)), comment.attachment.url, :target => "_blank", :class => "#{mobile_app_class_for_download_files}", :data => {:filename => comment.attachment_file_name, :targeturl => comment.attachment.url}), :class => "p-t-xxs small") %>
            <% end %>
          </div>
          <div class="small m-t-xs text-muted">
            <%= append_text_to_icon("fa fa-clock-o no-margins", formatted_time_in_words(comment.created_at)) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>