<% auto_expiration_password = @current_organization.password_auto_expire_enabled? %>
<% password_history_limit = @current_organization.password_history_enabled? %>
<%= control_group do %>
  <div class="false-label control-label">
    <%= "program_settings_strings.content.password_settings".translate %>
  </div>
  <%= controls do %>
    <div class="cjs_group_enclosure col-xs-12 no-padding">
      <label class="checkbox inline pull-left">
        <%= check_box_tag :auto_password_expiry, 1, auto_expiration_password, :class => "cjs_set_value_checkbox", :data => {:value => OrganizationsHelper::SecuritySetting::DEFAULT_PASSWORD_AUTO_EXPIRY}  %>
        <%= set_screen_reader_only_content("program_settings_strings.content.expire_password".translate) %>
      </label>
      <label class="font-noraml pull-left" for="organization_security_setting_attributes_password_expiration_frequency">
        <%= content_tag(:span, "program_settings_strings.content.expire_password".translate, :class => "p-xxs p-l-0 p-r-sm m-t-xxs pull-left") %>
        <div class="col-sm-2 no-padding">
          <%= security_setting_form.text_field(:password_expiration_frequency, :class => "cjs_value_recepient form-control input-sm", :wrapper => :none, :skip_title => true) %>
        </div>
        <%= content_tag(:span, "program_settings_strings.content.days".translate, :class => "p-xxs p-l-sm p-r-sm m-t-xxs pull-left") %>
      </label>
    </div>
    <div class="cjs_group_enclosure col-xs-12 no-padding">
      <label class="checkbox inline pull-left">
        <%= check_box_tag :password_history_limit, 1, password_history_limit, :class => "cjs_set_value_checkbox", :data => {:value => OrganizationsHelper::SecuritySetting::DEFAULT_PASSWORD_HISTORY_LIMIT}  %>
        <%= set_screen_reader_only_content("program_settings_strings.content.enable_password_history_v1".translate) %>
      </label>
      <label class="font-noraml pull-left" for="organization_security_setting_attributes_password_history_limit">
        <%= content_tag(:span, "program_settings_strings.content.enable_password_history_v1".translate, :class => "pull-left p-l-0 p-r-sm p-xxs m-t-xxs") %>
        <div class="col-sm-2 no-padding">
          <%= security_setting_form.text_field(:password_history_limit, :class => "cjs_value_recepient form-control input-sm", :wrapper => :none, :skip_title => true) %>
        </div>
        <%= content_tag(:span, "program_settings_strings.content.passwords".translate, :class => "pull-left p-l-sm p-r-sm p-xxs m-t-xxs") %>
      </label>
    </div>
    <label class="checkbox inline">
      <%= security_setting_form.check_box :can_contain_login_name %>
      <%= "program_settings_strings.content.allow_name_email".translate %>
    </label>
  <% end %>
<% end %>
