<% @title = "program_settings_strings.header.program_settings".translate(Program: _Program) %>
<% @pane_tabs = true %>
<div id='program_edit' class='clearfix <%= "new_program" if @first_visit %>'>
  <%= organization_settings_tabs(@tab, Mentoring_Connection: _Mentoring_Connection) %>
  <%= ibox nil, :ibox_id => "program_form" do %>
    <% vertical_form = [ProgramsController::SettingsTabs::FEATURES].include?(@tab) %>
    <% if @tab == ProgramsController::SettingsTabs::TERMINOLOGY %>
      <%= render :partial => "customized_terms/edit", :locals => {:organization => @current_organization } %>
    <% else %>
      <%= form_for @organization, :url => update_organization_path, :builder => MyFormBuilder,
        :html => {:multipart => true, :class => "edit_program clearfix cjs_ckeditor_dont_register_for_insecure_content #{"form-horizontal" unless vertical_form }", :method => :patch} do |f| %>
        <div class="m">
          <%= formatted_form_error(f, :header_message => "flash_message.program_flash.update_failed_v1".translate, :message => "") %>
          <%= hidden_field_tag :tab, @tab %>
          <% if @tab == ProgramsController::SettingsTabs::GENERAL %>
            <% default_txt = "program_settings_strings.content.general_default_txt".translate(program: _program) %>
            <%= render(:partial => 'organizations/edit_general', :locals => { :f => f, :default_txt => default_txt }) %>
          <% elsif @tab == ProgramsController::SettingsTabs::FEATURES %>
            <%= render(:partial => 'organizations/edit_features', :locals => {:input_field => 'organization[enabled_features][]', :prog_or_org => @current_organization}) %>
          <% elsif @tab == ProgramsController::SettingsTabs::SECURITY %>
            <%= render(:partial => 'organizations/edit_security', :locals => {:org_f => f})%>
          <% end %>
        </div>
        <%= content_tag(:div, class: "pull-right") do %>
          <%= f.actions do %>
            <% button_opts = @tab != ProgramsController::SettingsTabs::GENERAL ? {} : {:onclick => "clearDefaultText(jQuery('#program_description'), '#{default_txt}')"} %>
            <%= f.cancel_path "display_string.Cancel".translate, manage_organization_path %>
            <%= f.submit "display_string.Save".translate, {:class => "button"}.merge(button_opts) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>