<% @title = "manage_strings.organization.header.Common_Settings".translate %>

<div id='manage'>
  <% customize_pane_entries = [] %>
  <% customize_pane_entries << link_box("manage-icon-settings", "manage_strings.common.Program_Settings".translate(Program: _Program), edit_program_path) %>
  <% customize_pane_entries << link_box("manage-icon-program", "manage_strings.common.Program_Overview".translate(Program: _Program), pages_path) %>
  <% customize_pane_entries << link_box("manage-icon-admin-messages", "manage_strings.program.Administration.General.Admin_Messages_v2".translate(Admin: _Admin), admin_messages_path) unless @current_organization.standalone? %>
  <% customize_pane_entries << link_box("manage-icon-appearance", "manage_strings.common.Appearance_v1".translate(Program: _Program), themes_path) if (@current_organization.private_themes.count > 1 || super_console?) %>
  <% customize_pane_entries << link_box("manage-icon-admin", _Admins, organization_admins_path) %>
  <% customize_pane_entries << link_box("manage-icon-email", "manage_strings.common.Emails_v1".translate, mailer_templates_path) %>
  <% customize_pane_entries << link_box("manage-icon-resources", _Resources, resources_path) if @current_organization.resources_enabled_any? %>
  <% customize_pane_entries << link_box("manage-icon-all-users", "manage_strings.common.member_views".translate, admin_view_all_members_path) if @current_organization.org_profiles_enabled? %>
  <% customize_pane_entries << link_box("manage-icon-add-users", "manage_strings.organization.import_users_from_csv_v1".translate, new_csv_import_path(organization_level: @current_organization.standalone?)) if @current_organization.user_csv_import_enabled? %>
  <% customize_pane_entries << link_box("manage-icon-data-import", "manage_strings.common.Data_Import_Summary".translate, data_imports_path) if @current_organization.data_import_enabled? %>
  <% customize_pane_entries << link_box("manage-icon-language-setting", "manage_strings.organization.Administration.Language_Settings_v1".translate, translations_path) if @current_organization.language_settings_enabled? %>
  <% customize_pane_entries << link_box("manage-icon-three-sixty", "manage_strings.organization.Administration.Three_sixty_teedback_tool".translate, dashboard_three_sixty_surveys_path) if @current_organization.three_sixty_tool_enabled? %>
  <% customize_pane_entries << link_box("manage-icon-support", "manage_strings.common.Support".translate, get_support_url(src: "manage"), target: "_blank") %>
  <% customize_pane_entries << link_box("manage-icon-blocked", "quick_links.program.account_blocked_users".translate, account_lockouts_members_path) if @current_organization.login_attempts_enabled? %>
  <% customize_pane_entries << link_box("manage-icon-saml-sso", "feature.login_management.title".translate, auth_configs_path) if super_console? %>
  <%= ibox "manage_strings.common.Administration".translate, if: customize_pane_entries.any? do %>
    <div class='row-fluid clearfix min-height-90'>
      <div class="span" style="display: none;"></div>
      <% customize_pane_entries.each do |entry| %>
        <%= entry %>
      <% end %>
    </div>
  <% end %>

  <% profile_pane_entries = [] %>
  <% profile_pane_entries << link_box("manage-icon-preview-profile", "manage_strings.organization.User_Form_Fields.Preview_Profile_Form".translate, preview_profile_questions_path(src: 'manage')) %>
  <% profile_pane_entries << link_box("manage-icon-preview-membership", "manage_strings.organization.User_Form_Fields.Preview_Membership_Form".translate, preview_profile_questions_path(preview_type: ProfileQuestionsController::PreviewType::MEMBERSHIP_FORM, src: 'manage')) if is_membership_form_enabled?(@current_organization) %>
  <% profile_pane_entries << link_box("manage-icon-customize-profile", "manage_strings.common.Customize_Profile".translate, profile_questions_path(src: 'manage')) %>

  <%= ibox "manage_strings.organization.header.User_Form_Fields".translate, if: profile_pane_entries.any? do %>
    <div class='row-fluid clearfix min-height-90'>
      <div class="span" style="display: none;"></div>
      <% profile_pane_entries.each do |entry| %>
        <%= entry %>
      <% end %>
    </div>
  <% end %>

  <%= render partial: "career_dev/organizations/portals_manage", locals: {portals: @portals, can_create_portal: @can_create_portal} if @show_manage_portal %>

  <% programs_entries = [] %>
  <% programs_entries << link_box("manage-icon-add-program", "manage_strings.common.New_Program".translate(Program: _Program), new_program_path, absolute_img: true) if (super_console? || @current_organization.subprogram_creation_enabled?) %>
  <% active_programs = @current_organization.tracks.ordered.includes(:program_asset, :translations).select([:id, :parent_id, :root]) %>
  <% active_programs.each do |program| %>
    <% if program.logo_or_banner_url.present? %>
      <% program_icon = program.logo_or_banner_url %>
      <% icon_options = { absolute_img: true, custom_icon: true } %>
    <% else %>
      <% program_icon = "manage-icon-program" %>
      <% icon_options = {} %>
    <% end %>
    <% programs_entries << link_box(program_icon, program.name, manage_program_path(root: program.root), icon_options) %>
  <% end %>

  <%= ibox _Programs, if: programs_entries.any? do %>
    <div id = "tracks_listing" class='row-fluid clearfix min-height-90'>
      <div class="span" style="display: none;"></div>
      <% programs_entries.each do |entry| %>
        <%= entry %>
      <% end %>
    </div>
  <% end %>
</div>