<li class="draggable cjs_quicksearch_item list-group-item p-r-xs clearfix no-border" id="matrix_question_<%= matrix_question_id %>_<%= question_id %>_container" data-choice-id="<%= question_id %>">
  <div class="col-xs-11 p-l-0 p-r-0">
    <label for="matrix_question_<%= matrix_question_id %>_<%= question_id %>_text" class="sr-only"><%= question_text || placeholder_text %></label>
    <input type="text" name="matrix_question[existing_rows_attributes][][<%= question_id %>][text]" id="matrix_question_<%= matrix_question_id %>_<%= question_id %>_text" placeholder="<%= placeholder_text %>" value="<%= question_text %>" class="form-control input-sm"/>
  </div>
  <div class="fa fa-plus-circle p-t-xs p-l-sm cjs_add_row cursor-pointer" data-choice-id="<%= question_id %>" data-matrix-question-id="<%= matrix_question_id %>"></div>
  <div class="fa fa-trash p-t-xs p-l-sm cjs_destroy_row cursor-pointer" data-choice-id="<%= question_id %>" data-matrix-question-id="<%= matrix_question_id %>"></div>
</li>