<div class='modal <%= container_class %>'> 
  <div class='modal-header'>
    <%= link_to_function "x", "closeQtip()", class: "close" %>
    <h3><%= popup_title %></h3>
  </div>
  <div class="modal-body scroll-4-5 has-below-2">
    <%= capture(&binding) %>
  </div>
  <%= javascript_tag %Q[initialize.autoResizeTextAreas();] %>
</div>

<%= javascript_tag %Q[initialize.setModalWidth("#{width}");] %>
