<% student = local_assigns[:student] %>
<% mentor = local_assigns[:mentor] %>
<% student_answers = student.profile_answers.group_by(&:profile_question_id) %>
<% mentor_answers = mentor.profile_answers.group_by(&:profile_question_id) %>
<% match_score_and_status = local_assigns[:match_score_and_status] %>
<% student_question = question_pair.student_question.profile_question %>
<% mentor_question = question_pair.mentor_question.profile_question %>
<% common_values = match_score_and_status[question_pair.id][:common_values] if question_pair.is_a?(MatchConfig) %>
<% student_common_values = match_score_and_status[question_pair.id][:student_common_values] if (question_pair.is_a?(MatchConfig) && (question_pair.matching_type == MatchConfig::MatchingType::SET_MATCHING)) %>

<% student_question_content = content_tag(:div, student_question.question_text, class: "cjs-student-question", data: {'student-question-id': question_pair.student_question_id})%>
<% mentor_question_content = content_tag(:div, mentor_question.question_text, class: "cjs-mentor-question", data: {'mentor-question-id': question_pair.mentor_question_id})%>
<% student_profile_answers = fetch_formatted_profile_answers(@student, student_question, student_answers, true, common_values: (student_common_values.presence || common_values), other_question: mentor_question, highlight: true) %>
<% mentor_profile_answers = fetch_formatted_profile_answers(@mentor, mentor_question, mentor_answers, true, common_values: common_values, other_question: student_question, highlight: true) %>

<div class="row b-t m-xs vertical-align">
  <div class="col-xs-4 p-t-xxs p-b-xxs cui-td-group-status p-l-xs cjs-td-status-match-summary text-muted cui_bulk_match_config_details cjs-question-pair cui_float_override">
    <%= mentee_to_mentor_match ? student_question_content : mentor_question_content %>
    <br/>
    <div class="small p-t-xxs p-b-xxs"><%= "feature.bulk_match.content.with".translate %></div> 
    <br/>
    <%= mentee_to_mentor_match ? mentor_question_content : student_question_content %>
    <br/>
    <% if question_pair.is_a?(MatchConfig) %>
      <div class="text-muted p-t-xxs p-b-xxs small">
        <span><%= 'feature.match_config.table.weight'.translate %></span>
        <span class="font-bold"><%= question_pair.weight %></span>
      </div>
    <% end %>
  </div>
  <div class="col-xs-4 p-t-xxs p-b-xxs p-l-xs cui_bulk_match_config_details cui_float_override word_break <%= mentee_to_mentor_match ? 'cjs-td-mentees-match-summary' : 'cjs-td-mentors-match-summary' %> ">
    <%= mentee_to_mentor_match ? student_profile_answers : mentor_profile_answers %>
  </div>
  <div class="col-xs-3 p-t-xxs p-b-xxs p-l-xs cui_bulk_match_config_details cui_float_override word_break <%= mentee_to_mentor_match ? 'cjs-td-mentors-match-summary' : 'cjs-td-mentees-match-summary' %>">
    <%= mentee_to_mentor_match ? mentor_profile_answers : student_profile_answers %>
  </div>
  <div class="p-t-xxs p-b-xxs cui_bulk_match_config_details cui_float_override text-center">
    <% if question_pair.is_a?(SupplementaryMatchingPair) %>
      <i class="fa fa-trash pointer cjs-delete-supplementary-match-pair text-muted" data-url="<%= fetch_summary_details_bulk_matches_path(mentor_id: mentor.id, student_id: student.id, question_pair_id: question_pair.id, orientation_type: mentee_to_mentor_match ? BulkMatch::OrientationType::MENTEE_TO_MENTOR : BulkMatch::OrientationType::MENTOR_TO_MENTEE) %>"></i>
    <% elsif question_pair.is_a?(MatchConfig) && match_score_and_status[question_pair.id][:not_a_match] %>
      <div class="text-danger" id="cjs-not-a-match-tooltip-<%= question_pair.id %>"><%= append_text_to_icon("fa fa-lg fa-thumbs-down") %></div>
        <%= tooltip("cjs-not-a-match-tooltip-#{question_pair.id}", "feature.bulk_match.content.not_a_match".translate, false, container: ".cui_match_config_summary", placement: "left") %>
    <% end %>
  </div>
</div>
<%= javascript_tag %Q[BulkMatch.deleteSupplementaryMatchingPair();] %>