<% content, show_suspend_message = remove_member_prompt(member) %>

<% modal_container "feature.profile.label.remove_user".translate(user_name: member.name), modal_id: "modal_remove_member_link", icon_class: "fa fa-exclamation-triangle" do %>
  <%= simple_form_for member, html: { method: :delete, id: 'remove_user_form' } do |f| %>
    <div id="remove_user_prompt">
      <%= content %>
    </div>

    <div id="confirm_prompt" class="m-t-sm m-b-xs">
      <%= "feature.profile.content.removal_member_is_irreversible_html".translate(articles: _articles, mentoring_connections: _mentoring_connections, program: @current_organization.term_for(CustomizedTerm::TermType::PROGRAM_TERM).term_downcase.pluralized_term, irreversible: content_tag(:b, "display_string.irreversible_action".translate)) %>
      <% if show_suspend_message %>
        <div class="m-t-xs">
          <%= "feature.profile.content.suspending_members_instead".translate(program: @current_organization.term_for(CustomizedTerm::TermType::PROGRAM_TERM).term_downcase.pluralized_term) %>
        </div>
      <% end %>
    </div>

    <div>
      <hr/>
      <% action_set(class: "pull-right") do%>
        <%= button_tag "display_string.Cancel".translate, type: 'button', class: "btn btn-white", data: { dismiss: "modal" } %>
        <%= submit_tag "display_string.remove_member".translate(count: 1), class: "btn btn-danger", data: { disable_with: "display_string.Please_Wait".translate } %>
        <% if show_suspend_message %>
          <%= button_tag "display_string.suspend_member".translate(count: 1), type: 'button', onclick: %Q[jQuery("#suspend_membership_link").click();], class: "btn btn-primary", data: { dismiss: "modal" } %>
        <% else %>
          <%= button_tag "display_string.keep_suspended".translate(count: 1), type: 'button', class: "btn btn-primary", data: { dismiss: "modal" } %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>